.popup-content {
  width: 50%;
  position: fixed;
  top: 0;
  right: 0;
}

.popup-arrow {
  color: rgb(158, 33, 33);
  display: none;
  /* justify-content: ; */
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}