.popup-content {
  position: fixed !important;
  width: 50% ; 
  height: fit-content;
  top: 50% !important;
  left: 50% !important;
  z-index: 999;
  transform: translate(-50%, -50%) !important;
}

.popup-arrow {
  color: rgb(142, 127, 127);
  display: none;
  /* justify-content: ; */
}


.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

*{
  box-sizing: border-box;
}