#dark {
    background-image: url("./designs/events.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left top -2rem;
}





#dark #options button {
    /* width: max-content; */
    background-color: #080F24;
    color: #FED395;
    padding: 1rem;
}

#dark #options button.active {
    /* width: max-content; */
    color: #080F24;
    height: 2.5rem;
    border-radius: .2rem;
    background-color: rgb(254, 211, 149)
}

#dark #content .sub_content {
    display: none;
    color: aliceblue;
    margin-top: 2rem;
}

#dark #content .sub_content.active {
    display: block;
    color: aliceblue;
}
