@keyframes bannermove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
@keyframes bannermove2 {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-50%);
  }
}

