.SocialCause .main-heading1 {
    display: block; 
    background: #080f24;
    color: #fed395; 
    font-family: "Berkshire Swash";
    font-style: normal;
    font-weight: 400;
    font-size: 4rem; 
    line-height: 119px;
  }
  @media (max-width:480px) {
    .SocialCause .main-heading1{
      font-size: 3.5rem;
    }
    
  }
  .SocialCause .button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    /* width: 50%;  */
    padding: 2rem;
  }
  
  .SocialCause .years {
    font-family: 'Century Schoolbook';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /* line-height: 24px; */
    color: #E3AA57;
    background: #0D1838;
  }
  
  .SocialCause .years.active {
    color: #0D1838;
    background: #E3AA57;
  }
  .SocialCause .Bg{
    z-index: 1; 
  }
  .SocialCause .back {
    z-index: 2;
  }

  /* .SocialCause{
    z-index: -1;
  } */